
a:hover {
    color: rgb(255, 0, 0);
    background-color: rgb(149, 149, 149);
}

body {
    max-width: 1285px;
	width: 98%;
	margin: auto;
}

ul li {
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
}

ul > li {
    font-style: italic;
}

/* Below is the navigation bar styles */

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-align: center;
	width: 310px;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #800000;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav ul li ul {
	display: none;
	position: absolute;
	top: 100%;
}

nav ul li ul li {
	float: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul::after {
	content: "";
	display: block;
	clear: both;
}

#current {
	color: rgb(0, 0, 0);		
}

#current2 {
	color: rgb(0, 0, 0);	
}

/* This is the area for two column pages with sections and asides */

/* Main elements with flex container, last rule is for a scalable image*/

main {
	font-family: Montserrat;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

main section {
	flex-basis: 50%;
	margin: 0px 2em;
}

main aside {
	flex-basis: 50%;
	margin: 0 2em;
}

#talentTree {
	width: 60%;
	justify-content: center;
	align-items: center;
	margin: 10px 0 10px 10px;
	padding-left: 35px;
}

#mobile_menu {
	display: none;
}


/* Media query to collapse into one row at 400 pixels and give mobile menu at 1200px*/

@media screen and (max-width: 1265px)
{
	#nav_menu {
        display: none;
    }
    #mobile_menu {
        display: block;
    }
    .slicknav_menu {
        background-color: #800000 !important;	
	}

}


@media only screen and (max-width: 400px)
{
	main {
		flex-direction: column;
	}
	
	main section {
		order: 1;
		float: none;
	}

	main aside {
		order: 2;
		float: none;
		padding-top: 20px;
	}
}