a:hover {
    color: rgb(255, 0, 0);
    background-color: rgb(149, 149, 149);
}

body {
	max-width: 1285px;
    width: 100%;
	margin: auto;
}

ul li {
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
}

ul > li {
    font-style: italic;
}

/* Below is the navigation bar styles */

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-align: center;
	width: 310px;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #800000;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav ul li ul {
	display: none;
	position: absolute;
	top: 100%;
}

nav ul li ul li {
	float: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul::after {
	content: "";
	display: block;
	clear: both;
}

#current {
	color: rgb(0, 0, 0);		
}

#current2 {
	color: rgb(0, 0, 0);	
}



/* Adding grid layout to main elements of webpage */

main {
	height: 1200px;
	max-width: 60%;
	align-items: center;
	justify-items: center;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 15px;
	grid-template-areas:
	"marks bm"
	"ele balance"
	"shadow devastation"
	"mage warlock"
}

div img {
	height: 250px;
	width: 100%;
}

#marks {
	grid-area: marks;
}

#bm {
	grid-area: bm;
}

#ele {
	grid-area: ele;
}

#balance {
	grid-area: balance;
}

#shadow {
	grid-area: shadow;
}

#devastation {
	grid-area: devastation;
}

#mage {
	grid-area: mage;
}

#warlock {
	grid-area: warlock;
}

#mobile_menu {
	display: none;
}

@media screen and (max-width: 1260px)
{
	#nav_menu {
        display: none;
    }
    #mobile_menu {
        display: block;
    }
    .slicknav_menu {
        background-color: #800000 !important;	
	}

}