
/* Style for lists including nav, body and hover */

a:hover {
    color: rgba(34,193,195,1);
    background-color: rgb(149, 149, 149);
}

body {
    max-width: 1285px;
	margin: auto;
}

ul li {
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
}

ul > li {
    font-style: italic;
}

/* Below is the navigation bar styles */

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-align: center;
	width: 300px;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgba(253,187,45,1);
	color: white;
	font-weight: bold;
	text-decoration: none;
	border-radius: 50%;
}

nav ul li ul {
	display: none;
	position: absolute;
	top: 100%;
}

nav ul li ul li {
	float: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul::after {
	content: "";
	display: block;
	clear: both;
}

#current {
	color: rgb(0, 0, 0);
}


#mobile_menu {
	display: none;
}


/* CSS for content above main and below nav, heading */

div h1 {
	font-style: italic;
	font-size: 3em;
	padding: 1em;
	background-color: rgba(253,187,45,1);
}


div ul {
	background-color: rgba(34,193,195,1);
	border: 4px double black;
}


/* CSS for Section and Aside elements of Main element */

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

main section {
	flex-basis: 50%;
	margin: 0px 2em;
}

main aside {
	flex-basis: 50%;
	margin: 0 2em;
	background-color:seashell
}

section {
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	border: 2px dotted black;
}

section h1 {
	text-align: center;
	font-size: 2.5em
}

section p {
	font-size: 1.5em;
	padding: 1em;
}

aside {
	background: rgba(253,187,45,1);
	background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
	border: 2px dotted black;
}

aside h1 {
	text-align: center;
	font-size: 2.5em
}

img {
	width: 100%;
	padding-top: 2em;
}

figcaption {
	text-align: center;
	font-size: .75em;
	padding-top: 2em;
}



/* Media Queries */

@media screen and (max-width: 1220px)
{
	#nav_menu {
        display: none;
    }
    #mobile_menu {
        display: block;
    }
    .slicknav_menu {
        background-color: black !important;	
	}

	main {
		flex-direction: column;
	}
	
	main section {
		order: 1;
		float: none;
	}

	main aside {
		order: 2;
		float: none;
		padding-top: 20px;
	}
}